.fuente_helvetica{
font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 35px;
    margin: auto;
    color: rgb(235, 153, 32);
}
body{
    background-color: rgb(252, 252, 252)
}
.color-fondo{
    background-color:   rgb(235, 153, 32);
    color: black;
    font-size: 20px;
}
.navbar-brand img {
    height: 25px; /* Establecer la altura deseada */
    width: auto; /* Mantener la proporción original */
    margin: auto 5px; /* Añadir un margen entre los iconos */
    display: inline-block; /* Alinea los iconos horizontalmente */
}
.espacio_derecha{  /*este es el espacio del boton de comprar */
    margin-right: 30px;
}
.fuente_lucida{
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.texto{
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; /* Centra la imagen horizontalmente */
}

.custom-button {
    background-color: rgb(235, 153, 32); /* Color de fondo naranja */
    color: white; /* Color del texto blanco */
    border: none; /* Quita el borde */
    padding: 10px 20px; /* Añade padding para un mejor aspecto */
    border-radius: 5px; /* Bordes redondeados */
}

.custom-button:hover {
    background-color:rgb(235, 153, 32); /* Color del botón al pasar el mouse */
    color: white;
}

hr{
    color: rgb(0, 0, 0);;
}