.fuente_helvetica{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 35px;
    margin: auto;
    color: rgb(235, 153, 32);
}
body{
    background-color: rgb(221, 218, 212)
}
.color-fondo{
    background-color:   rgb(235, 153, 32);
    color: black;
    font-size: 20px;
}
.navbar-brand img {
    height: 25px; /* Establecer la altura deseada */
    width: auto; /* Mantener la proporción original */
    margin: auto 5px; /* Añadir un margen entre los iconos */
    display: inline-block; /* Alinea los iconos horizontalmente */
}
.espacio_derecha{  /*este es el espacio del boton de comprar */
    margin-right: 30px;
}
.fuente_lucida{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.texto{
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto; /* Centra la imagen horizontalmente */
}


